<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href='/stylesheets/myitems.css'/>
</head>
<body>



<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <% include partials/header.ejs %>
            </div>
        </div>
        <div class="row content-justiify-center content-row">
            <div class="col-3">
                <% include partials/site-nav.ejs%>
            </div>
            <div class="col-9 mt-4">

                <%if(undefined === data.loginFlag || null === data.loginFlag || false === data.loginFlag ||'' === data
                        .loginFlag){ %>
                    <h3> Please login...</h3>
                <%}else{%>
                <h3> <%=data.docs.firstName%> here is your dash board!<% console.log("From view - "+JSON.stringify
                    (data));
                    %></h3>
                    <div class="row">
                    <div class="col-3">
                        <!-- Add new book button -->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#addBookModal">
                            <i class="fas fa-plus-circle"></i> &nbsp;Add new book
                        </button>
                        <!-- Modal -->
                        <div class="modal fade bd-example-modal-lg" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Add new book</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12">
                                                    <!-- Form -->
                                                    <form name="addNewBookForm" action="/myItems" method="post">
                                                        <div class="row">
                                                            <div class="col">
                                                                <input type="text" class="form-control
                                                        addBookForm"
                                                                       name="bookName"
                                                                       placeholder="Book name" required>
                                                            </div>
                                                            <div class="col">
                                                                <select class="form-control addBookForm"
                                                                        required
                                                                        name="rating">
                                                                    <option>Your rating to book</option>
                                                                    <% for(var i=0; i<=5; i++){%>
                                                                        <option value="<%= i %>"><%= i %></option>
                                                                    <%}%>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <input type="text" class="form-control
                                                        addBookForm" name="catalogCategory"
                                                                       placeholder="Categories" required>
                                                                <small id="categoryHelp" class="form-text text-muted">If
                                                                    you're entering more than 1 category please use , to
                                                                    seperate. Ex - Category1,Category2
                                                                    .</small>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                        <textarea class="form-control addBookForm"
                                                                  name="description"
                                                                  placeholder="Description" rows="3" required></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <input type="text" class="form-control
                                                        addBookForm" name="author"
                                                                       placeholder="Authors" required>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col">
                                                                <input type="text" class="form-control
                                                        addBookForm" name="imageUrl"
                                                                       placeholder="Image" >
                                                                <small class="form-text text-muted">Enter the image url / path of image.</small>
                                                            </div>
                                                        </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer mb-3">
                                        <input type="hidden" name="action" value="addnewbook">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i
                                                    class="fas fa-times-circle"></i> &nbsp;Close</button>
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i>&nbsp;
                                            Add book</button>

                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                        <% if(undefined !== data.message && undefined !== data.message.flag ){%>
                            <div class="col-8">
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                   <%= data.message.text %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                      <%

                          setTimeout(function () {
                              data.message.flag = false;
                              data.message.text = "";
                          },2000);
                        }

                            %>

                    </div>


                 <div class="row mt-2 justify-content-left scrollable">
                    <div class="col-11">
                        <!-- show the items if exists-->
                        <% if( null !== data.items || undefined !== data.items){
                            for(var i=0; i< data.items.length; i++){%>
                            <div class="card item-card mt-3">
                                <div class="card-body item-card">

                                    <div class="row content-justify-center">
                                        <!--image-->
                                        <div class="col-1">
                                            <img src="<%= data.items[i].imageUrl%>" class="book-image">
                                        </div>
                                        <!--information-->
                                        <div class="col-7 mt-4">
                                            <table class="table">
                                                <tr>
                                                    <th>Name:</th>
                                                    <td><a class="a-link" href="/catalogCategory/<%= data.items[i]
                                                                .catalogCategory
                                                        %>/<%= data.items[i]._id %>"><%= data
                                                                    .items[i].bookName
                                                            %></a></td>
                                                    <th>Genre:</th>
                                                    <td><%= data.items[i].catalogCategory %></td>

                                                </tr>
                                                <tr>
                                                    <th>Author:</th>
                                                    <td><%= data.items[i].author %></td>
                                                    <th>Status:</th>
                                                    <td><%= data.items[i].status %></td>
                                                </tr>
                                                <tr>
                                                    <th>Rating:</th>
                                                    <td><%= data.items[i].rating %></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--Action buttopns-->
                                        <div class="col-3 ml-5r mt-5r">
                                            <% if(data.items[i].status === 'available'){ %>

                                                            <a class="btn btn-primary" href="/catalogCategory/<%=
                                                                data.items[i].catalogCategory %>/<%= data.items[i]
                                                                    ._id %>"
                                                               role="button"> <i class="fas fa-marker"></i>&nbsp;Update</a>

                                                            <form class="inline-form" name="deleteBook" method="post"
                                                                  action="/myItems">
                                                                <input type="hidden" name="action" value="deleteBook">
                                                                <input type="hidden" name="bookId" value="<%= data
                                                                        .items[i]._id %>">
                                                                <button type="submit" class="btn btn-warning"><i class="fas fa-trash"></i> &nbsp;Delete</button>
                                                            </form>


                                            <% }
                                            if(data.items[i].status === 'pending' ){ %>
                                                    <a class="btn btn-primary" href="/mySwaps"
                                                       role="button"> <i class="fas fa-marker"></i>&nbsp;Update</a>

                                                    <form class="inline-form" name="deleteBook" method="post"
                                                          action="/myItems">
                                                        <input type="hidden" name="action" value="deleteBook">
                                                        <input type="hidden" name="bookId" value="<%= data
                                                                .items[i]._id %>">
                                                        <!--<button type="submit" class="btn btn-warning"><i class="fas fa-trash"></i> &nbsp;Delete</button>-->
                                                    </form>
                                            <%}
                                            if(data.items[i].status === 'swapped' ){ %>
                                                    <a class="btn btn-success btn-lg btn-block disabled" href="#"
                                                       role="button"> <h2><i class="fas fa-exchange-alt
                                                       text-success"></i></h2></a>
                                                <%}

                                            %>
                                        </div>
                                    </div>

                                </div>
                            </div>
                           <% }
                        }%>

                    </div>
                 </div>









                <% }%>




            </div>
        </div>
        <% include partials/footer.ejs%>
    </div>


</div>




</body>
</html>